
@{
    ViewBag.Title = "CreateEF";
}

<h2>CreateEF</h2>

<form action="~/employeeDetails/CreateEF" method="post">
    <label>EmpName</label>
    <input type="text" name="EmpName" value="" />
    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" value="" />
    <input type="submit"  value="Save" class="btn btn-success" />
</form>