@model MVCRockersBatch.Models.EmployeeModel
@{
    ViewBag.Title = "HtmlHelperExample";
}

<h2>HtmlHelperExample</h2>

<input type="text" name="name" value="" />
<br />
@Html.TextBox("xxx")
@Html.TextBoxFor(jkdahksd=> jkdahksd.EmpName)


@*
    Html Helpers are nothing but C# methods which help u to create Html Controls
      *Textbox
      *Checkbox
      *RadioButtons
      etc.............

*@