
@{
    ViewBag.Title = "ShowJsonDataInGrid";
}

<h2>ShowJsonDataInGrid</h2>

<table id="table-1" class="table table-bordered">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>EmpSalary</th>
        </tr>
    </thead>
</table>


<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $.ajax({
        url: "http://localhost:50310/Default/GetJsonData",
        dataType: "json",
        type: "GET",
        success:function(result)
        {
            debugger;

            $.each(result, function (i,key) {
               
                $("#table-1 tr:last").after("<tr><td>" + key.EmpId + "</td><td>" + key.EmpName + "</td><td>" + key.EmpSalary + "</td></tr>");
            })
        }
    })
</script>