
@{
    ViewBag.Title = "ShowJsonDataInGrid";
}

<h2>ShowJsonDataInGrid</h2>

<table id="table-1" class="table table-bordered">
    <thead>
        <tr>
            <th>Author</th>
            <th>Content</th>
            <th>Description</th>
        </tr>
    </thead>
</table>
<div id="Parent">
</div>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $.ajax({
        url: "https://newsapi.org/v2/top-headlines?apiKey=9728cb7e8bca400b85ea8b193f2840af&q=cricket",
        dataType: "json",
        type: "GET",
        success:function(result)
        {
            debugger;

            $.each(result.articles, function (i, key) {
               
                //$("#table-1 tr:last").after("<tr><td>" + key.author + "</td><td>" + key.content + "</td><td>" + key.description + "</td></tr>");

                $("#Parent").append("<div>" + key.author + "</div><div>" + key.content + "</div><div>" + key.description + "</div>");

            })
        }
    })
</script>