
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyMaster</title>
</head>
<body>
    <div id="divHeader" style="background-color:aquamarine;height:20px;width:1200px">
        <h1>Header Called</h1>
    </div>
    <div id="divFooter" style="background-color:burlywood;height:20px;width:1200px">
        <h1>Footer Called</h1>
    </div>
    <div id="divbody" style="background-color:orange;height:2020px;width:1200px">
        <h1>@RenderBody()</h1>
    </div>

</body>
</html>
