@model CodeFirstApproachExample.Models.EmployeeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@Model.EmpName
<br />
@Model.EmpSalary
<br />


<form action="~/Employee/Delete/@Model.EmpId" method="post">
    <input type="submit" name="name" value="Delete" class="btn btn-danger" />
</form>
